{% extends 'base.html' %}
{% block title %} Catalog - Add Item {% endblock %}
{% block content %}
	<h1> Add New Item </h1>
	<form action='{{ url_for('addItem')}}' method = 'post'>
		<div class = 'form-input'>
			<label for="inputName">Name</label>
			<input type = 'text' class="form-control" name = 'name' placeholder = 'name' id = 'inputName'>
		</div>
		<div class = 'form-input'>
			<label for="inputImg">Image URL</label>
			<input type = 'text' class="form-control" name = 'imgurl' placeholder = 'image URL' id = 'inputImg'>
		</div>
		<div class = 'form-input'>
			<!-- TODO: allow users the option of creating a new category -->
			<label for="inputCategory">Category</label>
			<select class="form-control" id="inputCategory" name='category'>
				{% for i in categories %}
					<option value="{{ i[0] }}">{{ i[0] }}</option>
				{% endfor %}
			</select>
		</div>
		<div class = 'form-input'>
			<label for="inputDescription">Description</label>
			<textarea rows = 4 type = 'form-control' id = 'inputDescription' name = 'description'>description</textarea>
		</div>
		<input type='submit', value = 'Submit'>
	</form>
	<!-- TODO: link to previously visited page instead, if valid -->
	<a href = '{{ url_for('catalogHome')}}'> Cancel </a>
{% endblock %}a