{% extends 'base.html' %}
{% block title %} Catalog - Edit Item {% endblock %}

{% block content %}

<h1> Editing {{itemid}} from {{category}}? </h1>

<form action='{{ url_for('editItem',itemid =itemid, category = category)}}' method = 'post'>


<p>Name:</p>
<input type = 'text' size='30' name = 'name' placeholder = 'name'>

<p>Description:</p>
<input type = 'text' size='30' name = 'description' placeholder = 'description'>


<input type='submit', value = 'Submit'>

</form>

<a href = '{{ url_for('categoryItems', category = category)}}'> Cancel </a>

{% endblock %}