{% extends 'base.html' %}
{% block title %} Catalog - Edit Item {% endblock %}
{% block content %}
	<h1> Edit Item</h1>
	<form action='{{ url_for('editItem',itemid =item.id, category = item.category)}}' method = 'post'>
		<div class = 'form-input'>
			<label for="inputName">Name</label>
			<input type = 'text' class="form-control" name = 'name' value = {{item.name}} id = 'inputName'>
		</div>
		<div class = 'form-input'>
			<label for="inputImg">Image URL</label>
			<input type = 'text' class="form-control" name = 'imgurl' value = {{item.imgurl}} id = 'inputImg'>
		</div>
		<div class = 'form-input'>
			<!-- TODO: allow users the option of creating a new category -->
			<label for="inputCategory">Category</label>
			<select class="form-control" id="inputCategory" name='category'>
				{% for i in categories %}
					<option value="{{ i[0] }}">{{ i[0] }}</option>
				{% endfor %}
			</select>
		</div>
		<div class = 'form-input'>
			<label for="inputDescription">Description</label>
			<textarea rows = 4 type = 'form-control' id = 'inputDescription' name = 'description'>{{ item.description }}</textarea>
		</div>
		<input type='submit', value = 'Submit'>
	</form>
	<a href = '{{ url_for('categoryItems', category = item.category)}}'> Cancel </a>
{% endblock %}